---
title: Kristian Walker
---
<!-- header -->
{% include header-meta_project.html %} 
<!-- project specific meta data-->

<!-- insert project specifi head properties -->
<!--
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</head>
<div id="page-wrapper">
<body>
-->

<link rel="stylesheet" type="text/css" href="style.css" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="main.js"></script>

</head>
<div id="page-wrapper">
<body>

{% include header.html %}


		<div class ="box-spacer_xl"></div>

		<div id="con">
		  <div id="location_city"></div>
		   <div id="location_country"></div>
		 <div id="temp"></div>
		<button id="temp_unit" onclick='convertTemp()'unselectable="on"></button>

		  <div id="humid"></div>
		  <div id="weather"></div>
		  <div id="icon"></div>
		</div>





{% include footer.html %}